@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  background-color: #FFFFFF;
  color: #000000;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 4px;
}

.button-blue {
  background-color: #82B3D3;
}

.button-green {
  background-color: #7DB54F;
}

.button-transparent {
  background-color: transparent;
}

.button-rating {
  background-color: #F2F2F2;
  font-weight: 400;
  color: #333333;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  margin-right: 30px;
  z-index: 1;
}

.navigation-item {
  z-index: 3;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  margin: -10px 0 0 0;
  padding: 0;
  width: 440px;
}

.navigation-link {
  display: block;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
  padding: 20px 16px;
}

.navigation-user {
  width: 420px;
  margin-left: auto;
  justify-content: flex-end;
  align-items: center;
}

.navigation-user .navigation-link{
  min-width: 20px;
  min-height: 20px;
  outline: tomato solid 1px;
  padding: 20px 12px;
}

.navigation-user .button-login {
  background-color: #756157;
  display: block;
  padding: 8px 34px;
  margin-left: 20px;
}

.main-index {
  margin-top: -10px;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/divider.svg"), url("../images/index-hero.jpg");
  background-position: bottom, top;
  background-repeat: no-repeat, no-repeat;
  color: #000000;
  background-color: #FFFFFF;
  padding: 51px 0 82px 0;
}

.welcome-logo {
  display: block;
  margin: 0 auto;
}

.slogan {
  text-align: center;
  padding: 69px 258px 90px 258px;
}

.slogan-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
}

.slogan-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 0;
}

.advantages-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  display: flex;
}

.advantage-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.advantage-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  padding: 0 85px;
}

.advantage-description {
  font-weight: 400;
  text-align: center;
  color: #333333;
  padding: 0 84px;
}

.advantage-item .advantage-title {
  padding-bottom: 62px;
  margin: 0;
}

.advantage-item .advantage-description {
  margin: 0;
}

.advantage-item:nth-child(1) {
  background-color: #82B3D3;
}

.advantage-item:nth-child(1) .advantage-title {
  padding-top: 92px;
  color: #FFFFFF;
}

.advantage-item:nth-child(1) .advantage-description {
  color: #FFFFFF;
}

.advantage-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(2) .advantage-title {
  padding-top: 103px;
}

.advantage-item:nth-child(2) .advantage-description {
  padding-bottom: 121px;
}

.advantage-item:nth-child(3) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-item:nth-child(3) .advantage-title {
  padding-top: 103px;
}

.advantage-item:nth-child(3) .advantage-description {
  padding-bottom: 121px;
}

.advantage-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(4) .advantage-title {
  padding-top: 103px;
}

.advantage-item:nth-child(4) .advantage-description {
  padding-bottom: 121px;
}

.advantage-item:nth-child(5) {
  background-color: #82B3D3;
}

.advantage-item:nth-child(5) .advantage-title {
  padding-top: 92px;
  color: #FFFFFF;
}

.advantage-item:nth-child(5) .advantage-description {
  color: #FFFFFF;
}

.advantage-item:nth-child(6) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(6) .advantage-title {
  padding-bottom: 30px;
  padding-top: 182px;
}

.advantage-item:nth-child(6) .advantage-description {
  padding-bottom: 81px;
}

.advantage-item:nth-child(7) {
  background-color: #FFFFFF;
}

.advantage-item:nth-child(7) .advantage-title {
  padding-bottom: 30px;
  padding-top: 182px;
}

.advantage-item:nth-child(7) .advantage-description {
  padding-bottom: 81px;
}

.advantage-item:nth-child(8) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantage-item:nth-child(8) .advantage-title {
  padding-bottom: 30px;
  padding-top: 182px;
}

.advantage-item:nth-child(8) .advantage-description {
  padding-bottom: 81px;
}

.find {
  text-align: center;
  padding: 96px 304px 104px 304px;
}

.find-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 21px 0;
}

.find-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 60px;
}

.find .button-find {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
  padding: 12px 50px 13px 50px;
}

.subscription {
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  background-color: #000000;
  text-align: center;
  padding: 96px 258px 115px 258px;
}

.subscription-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

.subscription-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0 0 54px 0;
}

.button-subscription {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;
}

.page-footer {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 46px 70px 36px;
}

.footer-social {
  width: 200px;
}

.footer-social-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 48px;
  height: 40px;
  outline: tomato solid 1px;
}

.footer-social-link {
  display: block;
  padding: 12px 12px;
}

.footer-contacts-address {
  font-style: normal;
  width: 500px;
  margin-left: 114px;
}

.footer-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-link {
  width: 115px;
  outline: tomato solid 1px;
}

/*Внутренняя страница*/

.main-inner {
  margin-top: -10px;
}

.inner-header {
  background-image: url("../images/catalog-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  background-color: #000000;
  padding: 35px 70px 70px 70px;
  margin-bottom: 50px;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 7px 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0 0 40px 0;
  padding: 0;
}

.breadcrumbs-item {
  outline: tomato solid 1px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  text-decoration: none;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border: 0 none;
}

.catalog-filter-left {
  display: flex;
  width: 370px;
  justify-content: space-between;
}

.catalog-filter-right {
  display: flex;
  width: 549px;
  justify-content: space-between;
}

.filter-send-form {
  display: flex;
  flex-direction: column;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog-products {
  padding-bottom: 59px;
}

.catalog-products-sort {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0 auto 41px auto;
}

.select-control {
  width: 292px;
  margin-right: auto;
}

.select-result {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 200px 0 0;
}

.catalog-view-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.catalog-view-item {
  margin-left: 8px;
}

.catalog-view-item:first-child {
  margin-left: 0;
}

.button-show {
  width: 48px;
  height: 48px;
  border-radius: 4px;
}

.product-list {
  width: 1060px;
  margin: 0 auto 80px auto;
  list-style-type: none;
  padding: 0;
}

.product-card {
  width: 340px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-size: 24px;
  line-height: 28px;
}

.product-card-type {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.product-card-prise {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #333333;
}

.product-card-prise-mark {
  font-weight: normal;
}

.product-rating-list {
  list-style-type: none;
}

.pagination {
  list-style-type: none;
  padding: 0;
  display: flex;
  width: 1060px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 12px 12px;
  border-radius: 4px;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-align: center;
}

.pagination-link-current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-ellipsis {
  background-color: transparent;
  color: #000000;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
}

.inner-subscription {
  background-image: none;
  color: #000000;
  background-color: #FFFFFF;
}

.inner-subscription-description {
  color: #333333;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
